version: "3.9"

services:
  web:
    build: .
    container_name: django_classifier_server
    command: python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - makemigration
      - db
  makemigration:
    build: .
    container_name: django_makemigrations
    command: bash -c "python manage.py makemigrations && python manage.py migrate"
    volumes:
      - .:/code
    depends_on:
      - db
  db:
    image: postgres
    container_name: database_for_classifier
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    ports:
      - "5432:5432"
