{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Image Classifier{% endblock %}</title>
</head>
<body>

{% include 'inc/_nav.html' %}
{% block content %}{% endblock %}
<script src="static/js/file_name_events.js"></script>
</body>
</html>